body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  text-align: center;
  color: #4caf50;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.order-info {
  background-color: #e8f5e9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.order-info p {
  margin: 0;
  font-size: 1.1rem;
}

table {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th,
td {
  text-align: center;
  vertical-align: middle !important;
  padding: 12px;
}

th {
  background-color: #4caf50;
  color: white;
}

.table-head {
  background-color: #f8f9fa;
}

/* Media Queries */
@media (max-width: 768px) {
  .order-info {
    text-align: center;
  }

  table {
    font-size: 0.9rem;
  }
}
